@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

body {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 0;
    background-color: rgb(0, 0, 0);
    padding: 12px;
    padding: 0;
}

section {
    width: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
    margin: 6px 0;
}

.top {
    text-align: center;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub {
    margin: 38px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.credit {
    text-align: center;
    color: #ffff;
    font-weight: 300;
    font-size: x-large;
}

.p-top {
    fill-opacity: 0;
    stroke: #ffff;
    stroke-width: 0.1;
    stroke-dashoffset: 50;
    stroke-dasharray: 50;
    animation: textAni 4s 1 linear forwards;
}

@keyframes textAni {
    0% {
        stroke-dashoffset: 100;
        stroke-dasharray: 100;
    }

    20% {

        stroke-dashoffset: 70;
        stroke-dasharray: 70;
        opacity: 0.1;
    }

    50% {
        fill-opacity: 0.1;
        stroke-dashoffset: 30;
        stroke-dasharray: 30;
    }

    70% {
        fill-opacity: 0;
        stroke-dashoffset: 20;
        stroke-dasharray: 20;
        stroke-width: 0.5;
        opacity: 0.4;
    }

    75% {
        fill-opacity: 0;
        stroke-dashoffset: 10;
        stroke-dasharray: 10;
    }

    80% {
        fill-opacity: 0;
        stroke-dashoffset: 5;
        stroke-dasharray: 5;
        stroke-width: 0.8;
    }

    100% {
        opacity: 1;
        fill-opacity: 1;
        stroke-dashoffset: 0;
        stroke-dasharray: 0;
        stroke-width: 1;
    }
}

.p-main {
    fill-opacity: 0;
    stroke-width: 0.1;
    opacity: 0;
    stroke: #ffff;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: textAni 4s ease-in-out 6s 1 forwards;
}
img{
    transform: translateX(-100%);
    opacity: 0;
    animation: slideIn 1s ease-in-out 9s 1 forwards;
}
@keyframes slideIn {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes popUp{
   0%{
    opacity: 0;
   }
   50%{
    opacity: 0.4;
    filter: brightness(0);
    transform: translateZ(200px);
   }
   70%{
    opacity: 0.6;
    filter: brightness(0.4);
   }
   100%{
    opacity: 1;
    filter: brightness(1);
    transform: translateZ(150px);
   }
}
.sub{
    filter: brightness(0);
    opacity: 0;
    transition: .4s;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: popUp 5s ease-in-out 10s 1 forwards;
}

.sub:hover{
    filter: brightness(1);
    transform: translateZ(150px);
}

.credit h2{
    margin: 8px 20px;
}
.p-top svg{
    width: 100%;
}
.sub svg{
    width: 100%;
}